# git rm -rf --cached . y despues git add . por si quiero que archivos que ya se hayan subido, sean ignorados 
# y eliminados por .gitignore

__pycache__
tests.py
.register
db.sqlite3
mongoapp.bat
appvenv
secret_key.py
new_secret_key.py