
{% extends 'reused_templates/base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/display_docs.css' %}">

{% block td_nav %}
  <td style="padding: 0 10px;"><a href="/display/{{db}}" class="nav">Collections</a></td>
  <td style="padding: 0 10px;"><a href="/add/{{db}}/{{collection}}" class="nav">Add Document</a></td>
  <!-- <td style="padding: 0 10px;"><a href="/filter/{{stage}}" class="nav">Filter</a></td>
  <td style="padding: 0 10px;"><a href="/sort/{{stage}}" class="nav">Sort</a></td> -->
{% endblock %}

{% block h %}
  <h2>Documents of collection '{{collection}}'</h2>
{% endblock %}

{% block content %}
  {% if docs %}
    <table>
      <h2>
        <tr>
          <td id="td_display">id</td>
          {% for attr in model %}
            <td id="td_display">{{attr}}</td>
            <!-- <td id="td_display_vip">Calificacion</td> -->
          {% endfor %}
        </tr>
      </h2>
      {% for doc in docs %}
        <tr>
          {% for value in doc %}
            <!-- <td td style="text-align: left; width: 300px;">{{grade.name}}</td> -->
            <td>{{value}}</td>
          {% endfor %}
          <td style="padding: 0 5px;">
            <form action="/update/{{db}}/{{collection}}/{{id}}" method="GET">
              <button type="submit" class="button">
                <img src="{% static 'icons/edit.ico' %}" alt="update" width="25px" height="25px">
              </button>
            </form>
          </td>
          <td style="padding: 0 5px;">
            <form action="/delete/{{db}}/{{collection}}/" method="GET">
              <button type="submit" class="button">
                <img src="{% static 'icons/delete.ico' %}" alt="delete" width="25px" height="25px">
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}  
{% endblock %}